.card { 
  border-bottom: 1px solid black;
  margin-bottom: 2em;
}

.info {
  padding: 0 0.5em;
}

.inline {
  display: flex;
  justify-content: space-between;
}

/* Max out titles at 2 lines */
.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  max-width: 60%;
}

