.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 10%;
  height: 100%;
  width: 100%;
}

.infoColumn {
  padding: 0 5%;
  width: 25%
}

.artColumn {
  padding: 0 5%;
  width: 50%
}