@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,600;1,400&display=swap');

.container {
  margin-left: 6em;
}

.backgroundA {

  padding: 2em 0 16em 3em;
  background: url('../public/feature_a_background.svg') no-repeat;
  background-size: cover;
}

.info {
  padding: 4% 0 0 1%;
  width: 26%;
}

.buttonContainer {
  margin: 2% 0 0 12%;
}

.button {
  height: 4em;
}