@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,600;1,400&display=swap');

.wrapper {
  margin-left: 6em;
}

.backgroundA {

  padding: 2em 0 16em 3em;
  background: url('../public/feature_a_background.svg') no-repeat;
  background-size: cover;
}

.info {
  padding: 0 0 0 0.5em;
  width: 18em;
}

.buttonWrapper {
  margin: 2em 0 0 8em;
}

.button {
  height: 4em;
}