.wrapper:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 97%;
  border-bottom: 1px solid black;
}

.branding {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2.5em;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButton {
  margin: 0 1.5em 1em 1.5em;
}

.search {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
}
